<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
        integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    <script type = "text/javascript"
        src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
    </script> 
    {{!-- <link rel="stylesheet" href="/css/style.css"> --}}
    <title>Dosionara-Admin</title>
</head>
<body>
<nav class="grey darken-3">
    <div class="nav-wrapper container">
        <a href="#!" class="brand-logo center">Dosionara</a>
    </div>
</nav>
<!-- Header and side nav -->

<div class="container">
<h3>Bobot Preferensi</h3>

<div class="row">
    <form action="/admin/editSaw/:{{infor._id}}" method="POST" class="col s12">
        <input type="hidden" name="_method" value="PUT">
        <div class="row">
            <div class="input-field">
                <input type="text" id="kode" name="kode" value="{{infor.kode}}">
                <label for="kode">Kode</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="nnr" name="nnr" value="{{infor.nnr}}">
                <label for="nnr">NNR</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input type="text" id="jpo" name="jpo" value="{{infor.jpo}}">
                <label for="jpo">JPO</label>
            </div>
            <div class="input-field col s6">
                <input type="text" id="jto" name="jto" value="{{infor.jto}}">
                <label for="jto">JTO</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" id="bobot" name="bobot" value="{{infor.bobot}}">
                <label for="bobot">Bobot</label>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href='/admin/rulesofsaw' class="btn orange">Cancel</a>
        </div>
    </form>
</div>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.14.1/ckeditor.js"
            integrity="sha256-bEIQpI72w9NJuIVhTLFUF2/8uxl0u5800r8ddViuv+o=" crossorigin="anonymous"></script>

        <script>
            M.Sidenav.init(document.querySelector('.sidenav'))
            M.FormSelect.init(document.querySelector('#status'))
            CKEDITOR.replace('body', {
                plugins: 'wysiwygarea, toolbar, basicstyles, link'
            })
        </script>
        <script >
            var currYear = (new Date()).getFullYear();
                $(document).ready(function() {
                    $(".datepicker").datepicker({
                        defaultDate: new Date(currYear,1,31),
                        // setDefaultDate: new Date(2000,01,31),
                        maxDate: new Date(currYear,08,01),
                        yearRange: [2020, currYear],
                        format: "yyyy/mm/dd"    
                    });
                });
        </script>

</div>
</body>