<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
        integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
    <script type = "text/javascript"
        src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
    </script> 
    {{!-- <link rel="stylesheet" href="/css/style.css"> --}}
    <title>Dosionara</title>
</head>
<body>
<nav class="grey darken-3">
    <div class="nav-wrapper container">

        <a href="#!" class="brand-logo center">Dosionara</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/userbrain/informasi">Informasi Beasiswa</a></li>
            <li><a href="/dashboard_admin">Dashboard</a></li>
            <li><a href="/dashboardregis">Peminat Beasiswa</a></li>
            <li><a href="/getRecomendation">Hasil Seleksi</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </div>
</nav>
<!-- Header and side nav -->

<div class="container">
<h3>Dashboard Admin</h3>
<p>Daftar Informasi Beasiswa</p>
{{#if stories}}
<table class="striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Kuota</th>
            <th>CreatedAt</th>
            <th>EndDate</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each stories}}
        <tr>
            <td><a href="/admin/{{_id}}">{{title}}</a></td>
            <td> {{kuota}} </td>
            <td>{{formatDate createdAt 'MM/DD/YYYY'}}</td>
            <td>{{formatDate endDate 'MM/DD/YYYY'}}</td> 
            
            <td><span class="dash-status">{{status}}</span></td>
            <td>
                <a href="/admin/edit/{{_id}}" class="btn btn-float">
                    <i class="fas fa-edit"></i>
                </a>

                <form action="/admin/{{_id}}" method="POST" id="delete-form">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn red">
                        <i class="fas fa-trash"></i>
                    </button>
                </form>
            </td> 
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<p>No Informasi Posted</p>
{{/if}}
        <div class="fixed-action-btn">
            <a href="/admin/add" class="btn-floating btn-large waves-effect waves-light red"><i class="fas fa-plus"></i></a>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.14.1/ckeditor.js"
            integrity="sha256-bEIQpI72w9NJuIVhTLFUF2/8uxl0u5800r8ddViuv+o=" crossorigin="anonymous"></script>

        <script>
            M.Sidenav.init(document.querySelector('.sidenav'))
            M.FormSelect.init(document.querySelector('#status'))
            CKEDITOR.replace('body', {
                plugins: 'wysiwygarea, toolbar, basicstyles, link'
            })
        </script>
        <script >
            var currYear = (new Date()).getFullYear();
                $(document).ready(function() {
                    $(".datepicker").datepicker({
                        defaultDate: new Date(currYear,1,31),
                        // setDefaultDate: new Date(2000,01,31),
                        maxDate: new Date(currYear,08,01),
                        yearRange: [2020, currYear],
                        format: "yyyy/mm/dd"    
                    });
                });
        </script>

    </div>
</body>